.account_leftNav
	.list(data-open="1")
		.nav_title 订单管理
			span
		a(href="acc_b_dinghuo.html") 订货单
		a(href="acc_b_tuihuo.html") 退货单
		a(href="acc_b_fahuo.html") 发货记录
		a(href="acc_b_tongji.html") 订单商品统计
	.list(data-open="1")
		.nav_title 客户管理
			span
		a(href="acc_b_client_setting.html") 客户级别设置
		a(href="acc_b_client_list.html") 客户列表
		a(href="javascript:") 发货记录
		a(href="javascript:") 订单商品统计
	.list(data-open="1")
		.nav_title 商品管理
			span
		a(href="acc_b_goods_list.html") 商品列表
		a(href="javascript:") 店铺设置
		a(href="javascript:") 库存管理
	.list(data-open="1")
		.nav_title 商家设置
			span
		a(href="acc_b_shoukuang.html") 收款账户
		a(href="acc_b_brand.html") 品牌信息
		a(href="acc_b_personal.html") 个人信息
script.
	$(function(){
		set_leftNav_toggle()
	})