.account_leftNav
	.list(data-open="1")
		.nav_title 我的订单
			span
		a(href="acc_c_orders.html") 所有订单
		a(href="javascript:") 分阶段订单
	.list(data-open="1")
		.nav_title 我的关注
			span
		a(href="acc_c_follow_brands.html") 关注的品牌
		a(href="acc_c_follow_goods.html") 关注的商品
	.list(data-open="1" style="padding-top: 16px;")
		//- .nav_title 
		//- 	span
		a(href="javascript:") 消息
		a(href="javascript:") 设置收货地址
script.
	$(function(){
		set_leftNav_toggle()
	})