.header
	.wrap
		.logo.fl
			img(src="image/account/logo.png")
			span.line
		.text.fl
			block headName
		.account_nav.fl
			a(href="index.html") 首页
			a(href="javascript:") 帐号管理
			a(href="javascript:") 消息
				span.msn 99
		.search.fr
			input(type="text" placeholder="输入你需要的服务或功能")
			a.search_btn(href="javascript:")
				span
		.clear