.footer
	.wrap
		.footer_link.fl
			.list(style="width: 260px")
				.title 服务中心
					img(src="image/icon_footer_r.png")
				span 服务时间: 工作日9:30-7:30
				span 电话: 0755-2640 2111
				span 传真: 0755-2640 2113
				span 邮箱: kf@lyshowscn.com
			.list
				.title 帮助中心
					img(src="image/icon_footer_r.png")
				a(href="javascript:") 会员教程
				a(href="javascript:") 线上线下看货
				a(href="javascript:") 支付方式
				a(href="javascript:") 寄货须知
			.list
				.title 联系方式
					img(src="image/icon_footer_r.png")
				a(href="javascript:") 荔秀介绍
				a(href="javascript:") 联系我们
			.list
				.title 友情链接
					img(src="image/icon_footer_r.png")
				a(href="javascript:") 阿里巴巴
				a(href="javascript:") 支付宝
			.clear
		.footer_orther.fl
			.list.baozheng
				span
					img(src="image/icon_footer_1.png")
					| 原创正品保证
				span
					img(src="image/icon_footer_2.png")
					| 消费权益保障
				span
					img(src="image/icon_footer_3.png")
					| 消费权益保障
			.list.wx
				.title 微信公众号
				img(src="image/footer_erweima.png")
			.clear
		.clear